<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
</head>
<body>

<p><a href="/login/logout">Logout</a></p>
<h1>Post your comments!</h1>
<h2>Welcome! <%= userid %></h2>

<ol>
    <% for (var i = 0; i < comments.length; i++) { %>
    <li>
        <div>
            <!--<span style="text-align:left">-->
            <!--<%- comments[i].id %></span>-->
            <span style="text-align:left">
            <%- comments[i].comment %></span>
            by
            <span style="text-align:left">
            <%- comments[i].author %></span>
        </div>
    </li>
    <% } %>
</ol>




<script type="text/javascript" src="../static/lib/jQuery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery.cookie/jquery.cookie.js"></script>
</body>



</html>