<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
</head>
<body>

<p><a href="/login/logout">Logout</a></p>
<p>HIHIHI</p>
<h1>message: <%= message %></h1>




<script type="text/javascript" src="../static/lib/jQuery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery.cookie/jquery.cookie.js"></script>
</body>



</html>