<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
    <script type="text/javascript" src="../static/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.cookie/jquery.cookie.js"></script>
</head>
<body>

<p><a class="bg-primary" href="/login/logout">Logout</a>
<a class="bg-primary" href="/search">Search</a></p>

<div class="jumbotron text-center">
    <h1>Welcome!
        <mark><%= userid %></mark>. Post your comments!
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-center-block">
            <form action="/comments/post" method="post">
                <div class="form-group">
                    <textarea style="font-size: 22pt" class="form-control" rows="4" id="comment" name="comment" placeholder="Write your comment here!"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="reset" class="btn btn-default">
            </form>

        </div>
    </div>
</div>

<div class="container">
    <h2>Comments</h2>
    <ol class="list-group">
        <% for (var i = 0; i < comments.length; i++) { %>
        <li class="list-group-item">
            <h3 class="list-group-item-heading"><%- comments[i].comment %> <kbd><%- comments[i].author %></kbd></h3>
            <% if(comments[i].canRemove) { %>
            <a href="<%= 'remove?id=' + comments[i].id %>">Remove</a>
            <% } %>
        </li>
        <% } %>
    </ol>
</div>


</body>


</html>