<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../static/stylesheets/style.css" type="text/css">
    <script type="text/javascript" src="../static/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>You should
        <mark>login</mark>
        first
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4 col-center-block">
            <form action="/login/check" method="post">
                <div class="form-group">
                    <label for="userid">User ID: (yellow/tom)</label>
                    <input style="font-size: 22pt" type="text" class="form-control input-lg" id="userid" name="userid">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input style="font-size: 22pt" type="password" class="form-control input-lg" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="reset" class="btn btn-default">
            </form>

        </div>
    </div>
</div>


</body>

</html>